// _layout.scss - Styles for the page layout.


@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
  background: $primary-color;
}

#page {
  position: relative;
  max-width: 730px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding: 40px 40px 80px;
  margin:20px auto;
  background: white;

  @include box-shadow(0 0 30px #888888);

  a {
    color: black;
    text-decoration: none;
  }

  .post {
    position: relative;
  }
}